body {
	background: var(--primary-color);
	padding: 0;
	margin: 0;
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.wrapper {
	flex: 1;
	height: 100vh;
	padding: 60px 16px 16px;
	background: var(--primary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.nav {
	padding: 12px;
	background: var(--secondary-color);
	display: flex;
	gap: 48px;
}

.theme {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 40px;
	margin-left: auto;
}
